:root {
  --bg-main-header: #5e81d1;
  --bg-content-header: #f87500;
  --bg-content: #ff8d27;
}

.no-decoration {
  text-decoration: none;
  color: inherit;
}
.no-decoration:visited {
  color: inherit;
}

.text-decoration-line-through {
  display: inline;
}

.col {
}
.container-fluid {
  background-color: var(--bg-content);
  height: 100vh;
}
.content-header {
  background-color: var(--bg-content-header);
  min-height: 2rem;
  margin-bottom: 1rem;
}
.main {
}
.main-header {
  background-color: var(--bg-main-header);
}
.main-header__menu {
  display: none;
  max-width: fit-content;
}
.main-header__title {
}
.main__items {
  width: 100%;
  position: relative;
}
.navigation-button {
}
.plus-icon::before {
  content: "\f055";
}
.price {
}
.row {
}
.price__text {
  flex: 0;
}
.content-header__text {
  flex: 0;
  min-width: fit-content;
}

.separator {
  border-bottom: 1px solid #f0f0f088;
  margin: 0 2rem;
}

.cross-icon {
  right: 0;
  position: absolute;
  transform: translateY(50%);
}

.burger-menu {
  margin-top: 5px;
  flex: 0;
}

.burger-menu__part {
  width: 2rem;
  height: 0.2rem;
  background-color: #0f0f0fcc;
  margin-bottom: 0.3rem;
  display: block;
}

.burger-menu:hover > .main-header__menu {
  display: block;
  position: absolute;
  list-style-type: disc;
  right: 0;
  background-color: #666;
}

.input-precio__euro::after {
  content: "€";
}

.input-precio__input {
  float: 0;
}

.form-button {
  margin-top: 1rem;
}

.bold {
  font-weight: bold;
}
